<section class="mt-10 w-full h-40 flex items-center justify-center bg-gray-700">
    <h2 class="text-3xl font-serif font-extrabold text-gray-800 m-0 leading-none">
      CURSOS DE COCINA
    </h2>
  </section>
  